{%- if is_array -%}
{%- if indent != 0%}{{ " "|rjust:indent }}{% endif %}- policyTypes:
{%- else %}
{%- if indent != 0%}{{ " "|rjust:indent }}{% endif %}policyTypes:
{%- endif %}
{% if indent != 0%}{{ " "|rjust:indent }}{% endif %}{% if item == "ingress" %}- Ingress{% endif -%}
{% if indent != 0%}{{ " "|rjust:indent }}{% endif %}{% if item == "egress" %}- Egress{% endif -%}