{%- if is_array -%}
{%- if indent != 0%}{{ " "|rjust:indent }}{% endif %}- ports:
{%- else %}
{%- if indent != 0%}{{ " "|rjust:indent }}{% endif %}ports:
{%- endif %}
{%- for item in items %}
{% if indent != 0%}{{ " "|rjust:indent }}{% endif %}- protocol: {{ item.Protocol }}
{% if indent != 0%}{{ " "|rjust:indent }}{% endif %}  port: {{ item.Port }}
{% endfor %}